.sign-in {
    width: 380px;
    flex-direction: column;

    .title {
        margin-bottom: -1%;
    }

    .subtitle {
        font-weight: 500;
    }

    .buttons {
        display: flex;
        justify-content: space-between;
    }
}